*{
	box-sizing: border-box;
}
html, body {
  width: 100%; 
  height: 100%; 
  overflow: scroll;
}
#rekog-block{
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	color: white;
	display: none;
	background-color: grey;
	margin: auto;
	width: 100%;
	text-align: center;
}
#signIn-block{
	display: none;
	background-color: yellow;
}
#sign-up{
	display: none;
	background-color: tan;
}
#crop-pic{
	margin: auto;
	height: 70%;
 	width: 60%;
 	overflow: hidden;
}
img{
	height: auto;
	max-width: 100%;
}
#label-div{
	margin: 10px auto 10px auto;
	width: 60%;
}
#logo-div{
	float: left;
}
#nav-div{
	width: 100%;
	height: 8%;
	font-family: 'Droid Sans', sans-serif;
	padding: 20px 25px 15px 0px;
}
li a{
	transition: color 1.0s ease;
	font-size: 18px;
	color: black;
}
#header-container{
	position: fixed;
	width: 100%;
	height: 58px;
	color: black;
	z-index: 10000;
	background-color: white;
}
#logo{
	margin: 15px 0px 15px 25px;
	/*color: black;*/
	font-family: 'Droid Sans', sans-serif;
	font-size: 28px;
	font-weight: 500;
}
#nav-div li{
	display: inline;
	float: right;
	margin-right: 18px;
}
a:visited, a:active, {
	text-decoration: none;
}
li a:hover{
	color: #00e5e5;
	cursor: pointer;
}
#vid-container{
	clear: both;
	overflow: hidden;
	height: 100%;
}
#banner-vid{
  	height: 100%;
  	width: 177.77777778vh; /* 100 * 16 / 9 */
  	min-width: 100%;
  	min-height: 56.25vw; /* 100 * 9 / 16 */
}
#top-content{
	position: relative;
	left: 55%;
	top: -675px;
	color: white;
	background-color: #6BBAA7;
	opacity: 0.55;
	font-size: 50px;
	font-weight: 400;
	font-family: 'Josefin Sans', sans-serif;
	z-index: 5000;
	height: 180px;
	width: 450px;
	border-radius: 3px;
	text-align: center;
	padding: 10px 5px 10px 5px;
}
#bottom-content{
	position: relative;
	left: 25%;
	top: -480px;
	color: white;
	background-color: #6C648B;
	opacity: 0.55;
	border-radius: 3px;
	font-size: 50px;
	font-weight: 400;
	font-family: 'Josefin Sans', sans-serif;
	z-index: 5000;
	height: 180px;
	width: 450px;
	padding: 10px 5px 10px 5px;
	text-align: center;
}
#story-content{
	height: 50%;
	width: 100%;
	background-color: #6BBAA7;
}
#foot-div{
	width: 100%;
	height: 15%;
	font-size: 25px;
	color: black;
	background: white;
	font-family: 'Droid Sans', sans-serif;
	text-align: center;
}
