*{
  	box-sizing: border-box;
}
html, body {
  	width: 100%; 
  	height: 100%; 
  	overflow: scroll;
}
#rekog-block{
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	color: white;
	display: none;
	background-color: grey;
	margin: auto;
	width: 100%;
	text-align: center;
}
#signIn-block{
	display: none;
	background-color: #6C648B;
	min-height: 100%;
}
/*login/register form styles*/
.login-page {
  	/*width: 360px;*/
  	height: 99%;
  	width: 45%;
  	padding: 8% 0 0;
  	margin: auto;
}
@media (max-width: 1024px){
	.login-page{
		width: 60%;
	}
}
@media (max-width: 780px){
	.login-page{
		width: 75%;
	}
}
@media (max-width: 612px){
	.login-page{
		width: 85%;
	}
	.form h1{
		font-size: 28px;
		/*height: 100%;*/
	}
	.form .message{
		font-size: 24px;
	}
	.form .message a{
		font-size: 24px;
	}
}
@media (max-width: 400px){
	.login-page{
		width: 92%;
	}
}
.form {
	position: relative;
    z-index: 1;
	background: #6BBAA7;
    /*max-width: 360px;*/
    /*height: 100%;*/
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
	border-radius: 2px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form h1{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 30px;
    margin-bottom: 25px; 
}
.form input {
    font-family: 'Droid Sans', sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    border-radius: 4px;
    margin: 0 0 15px;
    padding: 15px;
    box-shadow: none;
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-size: 18px;
}
.form input:active,.form input:focus{
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form button {
    font-family: 'Droid Sans', sans-serif;
    outline: 0;
    background: #FBA100;
    width: 100%;
    border: 0;
    border-radius: 4px;
    padding: 15px;
    color: #FFFFFF;
    font-size: 22px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
    background-color: #B6A19E;
}
.form .message {
    margin: 15px 0 0;
    color: white;
    font-size: 20px;
}
.form .message a {
    font-size: 20px;
    color: #6C648B;
    text-decoration: none;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
.form .message a:hover{
	cursor: pointer;
	color: #FBA100;
}
.form .message a:visited{
	text-decoration: none;
}
.back-button a{
	color: white;
	font-size: 25px;
	-webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.back-button a:hover{
	color: #FBA100;
	cursor: pointer;
}
#cancel{
	margin-top: 15px;
	font-family: 'Montserrat', sans-serif;
}
.form .register-form {
    display: none;
}
.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}
.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}
.container .info {
    margin: 50px auto;
    text-align: center;
}
.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}
.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}
.container .info span a {
    color: #000000;
    text-decoration: none;
}
.container .info span .fa {
    color: #EF3B3A;
}
/**************************/
#crop-pic{
	margin: auto;
	height: 70%;
 	width: 60%;
 	overflow: hidden;
}
img{
	height: auto;
	max-width: 100%;
}
#label-div{
	margin: 10px auto 10px auto;
	width: 60%;
}
#logo-div{
	float: left;
}
#nav-div{
	width: 100%;
	height: 8%;
	font-family: 'Droid Sans', sans-serif;
	padding: 20px 25px 15px 0px;
}
li a{
	transition: color 0.7s ease;
	font-size: 18px;
	color: white;
}
#header-container{
	position: fixed;
	width: 100%;
	height: 58px;
	color: white;
	z-index: 10000;
	border-bottom: solid 0.5px white;
}
#logo{
	margin: 15px 0px 15px 25px;
	font-family: 'Droid Sans', sans-serif;
	font-size: 28px;
	font-weight: 500;
}
#nav-div li{
	display: inline;
	float: right;
	margin-right: 18px;
}
a:visited, a:active, {
	text-decoration: none;
}
li a:hover{
	color: #6C648B;
	cursor: pointer;
}
.modile-menu-trigger{
	border: solid 0.5px white;
}
.mobile-menu-trigger a{
	float: right;
	margin-right: 18px;
	padding: 20px 25px 15px 0px;
	color: white;
	font-family: 'Droid Sans', sans-serif;
	font-size: 25px;
	text-decoration: none;
}
/*testing mobile menu*/
@media only screen and (min-width: 1009px) {
   .mobile-menu {display:none;}
   }

@media only screen and (max-width: 1008px) {
   .desktop-menu {display:none;}
}
/**/
@media (max-width: 880px){
	#logo{
		font-size: 25px;
		margin-left: 20px;
	}
	#header-container{
		height: 52px;
	}
	.mobile-menu-trigger a{
		font-size: 25px;
		padding: 15px 0px 15px 0px;
	}
}
@media (max-width: 740px){
	#logo{
		font-size: 23px;
		margin-left: 10px;
	}
	#header-container{
		height: 45px;
	}
	.mobile-menu-trigger a{
		padding-top: 10px;
	}
}
#vid-container{
	clear: both;
	width: 100%;
	height: auto;
}
video{
	width: 100% !important;
	height: auto !important;
}
#top-content{
	position: relative;
	left: 55%;
	top: -675px;
	color: white;
	background-color: #6BBAA7;
	opacity: 0.55;
	font-size: 50px;
	font-weight: 400;
	font-family: 'Josefin Sans', sans-serif;
	z-index: 5000;
	height: 180px;
	width: 450px;
	border-radius: 3px;
	text-align: center;
	padding: 10px 5px 10px 5px;
}
#bottom-content{
	position: relative;
	left: 25%;
	top: -480px;
	color: white;
	background-color: #6C648B;
	opacity: 0.55;
	border-radius: 3px;
	font-size: 50px;
	font-weight: 400;
	font-family: 'Josefin Sans', sans-serif;
	z-index: 5000;
	height: 180px;
	width: 450px;
	padding: 10px 5px 10px 5px;
	text-align: center;
}
#story-content{
	height: 50%;
	width: 100%;
	background-color: white;
}
#foot-div{
	width: 100%;
	height: 15%;
	font-size: 25px;
	color: black;
	background: #6BBAA7;
	font-family: 'Droid Sans', sans-serif;
	text-align: center;
}
